<html>
   <meta charset="UTF-8"> 
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <h3>Formulário de inserção (tabela "Usuario")</h3>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" placeholder="login" />
            <br />
            <label for="senha">Senha:</label>
            <input type="text" id="senha" name="senha" placeholder="senha" />
            <br />
            <br />
            <input type="submit" name="botao" value="Insere" />
         </fieldset>
      </form>
   </body>
</html>